:root {
    --gray: #CDCCCC;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";  
}

* {
  box-sizing: border-box;
}
.pet {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.navigation {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.box {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.container{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: auto;
}
.product{
  display: flex;
  
}

header2 {
    background-color: var(--gray);
    height: 40pt;
    border: solid black 1pt;
}


main {
    background-color: var(--gray);
    min-height: 40vh;
  max-width: 2000px;
  border: solid black 1pt;
  width: 100%;
  height: 250pt;
  margin: auto;
  
}

logo{ 
    background-color: var(--gray);
  border: solid black 1pt;
  width: 7%;
  height: 10pt; 
  margin-left: auto;
  margin-right: 20pt;
}

search {
    background-color: var(--gray); 
    border: solid black 1pt;
    height: 10pt;
    width: 35%;
  margin-right: 20pt;
}
account {
    background-color: var(--gray); 
    border: solid black 1pt;
    height: 10pt;
    width: 40%;
  margin-right: auto;
  margin-bottom: 10pt;
}
navigation {
    background-color: var(--gray); 
    border: solid black 1pt;
    height: 10pt;
    width: 60%;
  margin-left: 140pt;
  margin-right: auto;
  margin-bottom: 10pt;
}
pet {border: solid black 1pt;
  background-color: var(--gray); 
  width: 120pt;
  height: 120pt;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20pt;
}
productfav {border: solid black 1pt;
  background-color: var(--gray); 
  width: 120pt;
  height: 120pt;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 15pt;
  max-width: 1040px;
 
}
p {
  margin-left:  40pt;
  margin-right: auto;
  max-width: 50%;
  font-size: 20pt;
}
p2 {font-size: 12pt;
  margin-left: 40pt;
  margin-right: 340pt;

  
}
p3{
  font-size: 12pt;
margin-left: 40pt;
margin-right: 52pt
}

p4{
  font-size: 12pt;
margin-left:250pt;
}

puppy {
    background-color: var(--gray); 
    border: solid black 1pt;
    height: 120pt;
    width: 45%;
  margin-left: auto;
  margin-top: 0pt;
}
kitten {
    background-color: var(--gray); 
    border: solid black 1pt;
  margin-right: auto;
  margin-top: 0pt;
    height: 120pt;
  width: 45%;
}
brandimages {
    background-color: var(--gray); 
    border: solid black 1pt;
    height: 120pt;
  width:90%;
    justify: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10pt;
}
email {
    background-color: var(--gray); 
    border: solid black 1pt;
    height: 80pt;
  width: 90%;
    justify: center;
  margin-left: auto;
  margin-right: auto;
 
}
product {background-color: var(--gray);
  border: solid black 1pt;
  height: 200pt;
  width: 150pt;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50pt;
}
vetinfo {
    background-color: var(--gray); 
    border: solid black 1pt;
    height: 120pt;
    width: 45%;
  margin-right:auto;
}
pharmacy {
    background-color: var(--gray); 
    border: solid black 1pt;
    height: 120pt;
    width: 45%;
  margin-left: auto;
  margin-bottom: 5pt;
}
explore{background-color: var(--gray);
  border: solid black 1pt;
  height: 100pt;
  width: 100pt;
  margin-top: 0pt;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30pt;
}
help{border: solid black 1pt;
  background-color: var(--gray);
  margin-top: 15pt;
  width:100%;
  height: 50pt;
}
navigationbottom{
  background-color: var(--gray);
width:100%;
  border: solid black 1pt;
}

@media screen and (max-width: 768px) {
  .pet{
    display: flex;
  }
  .navigation{
    display:none;
  }
  logo{
    width: 15%;
    margin-left:5pt;
  }
  search{
    width: 30%;
    margin-left:0pt;
  }
  account{
    width:30%;
  }
  .box{
    display: inline-block;
  }
  productfav{
    margin-left: 5pt;
    margin-right: 5pt;
  }
  puppy{
    margin-left: 20pt;
    
  }
   kitten{
    margin-right: 20pt;
  }
   brandimages{
    margin-left: 20pt;
     margin-right: 20pt;
  }
  email{
    margin-left:20pt;
    margin-right:20pt;
  }
    pharmacy{
    margin-left: 20pt;
    
  }
   vetinfo{
    margin-right: 20pt;
  }

  
}

@media screen and (min-width: 1200px) {
   .wrapper{
		display: flex;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
	}
}
